# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/
.turbo/
.next/
out/

# Test
coverage/
*.tsbuildinfo

# Env
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Misc
*.tgz
